@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *,*::before,*::after{
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html, body{
    @apply bg-slate-100;
    font-family: 'Poppins', sans-serif;
  }
}

@layer components{
  .btn{
    @apply rounded px-4 py-3;
  }
}

@layer utilities{
  .not--found {
    @apply h-screen flex justify-center items-center flex-col;
  }
  .not--found h1{
    @apply text-8xl;
  }
  .not--found button{
    @apply border px-10;
  }
}