@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  *::before,
  *::after {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;

  }

  html,
  body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }

  .m {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  .btn {
    @apply rounded px-4 py-3;
  }

  /* Top Nav */
  .top--nav-header {
    @apply shadow fixed w-full sm:relative z-30 bg-white;
  }

  .top--nav {
    @apply flex items-center justify-between h-20 px-4;
  }

  .top--nav-logo {
    @apply px-4 text-4xl font-bold;
  }

  .top--nav-items {
    @apply flex items-center justify-evenly space-x-4 px-4;
  }

  .top--nav-items li a {
    @apply text-sm font-semibold;
    position: relative;
    text-decoration: none;
    padding: 5px;
  }

  .top--nav-actions {
    @apply space-x-4 hidden sm:flex items-center justify-evenly;
  }

  .mobile--nav {
    @apply fixed top-16 left-0 h-full w-full z-30 bg-white md:hidden;
  }

  .mobile--nav ul {
    @apply flex flex-col items-center justify-evenly;
  }

  .mobile--nav ul li {
    @apply w-full text-center py-4 cursor-pointer;
  }

  .mobile--nav ul li:hover {
    @apply bg-zinc-300;
  }

  /* End of Top Nav */
  /* NFT Card */
  .nft--card {
    @apply border h-[400px] rounded-t-lg cursor-pointer;
  }

  .nftcard--img-container {
    @apply h-[80%] relative rounded-t-lg;
  }

  .nft--card-details {
    @apply h-[20%] px-4 py-2;
  }

  .nft--card-details h3 {
    @apply font-semibold text-base;
  }

  .nft--card-details p {
    @apply text-sm
  }
  /* End of NFT Card */

  /* NFT Product Detail */
 .product--detail{
    @apply flex h-full space-x-4;
  }
  .product--detail-left{
    @apply w-4/12;
  }
  .product--detail-leff-container{
    @apply relative h-[250px] w-full;
  }
  .product--detail-leff-container img{
    @apply absolute w-full h-full object-cover rounded-t-lg;
  }
  .product--detail-leff-container a{
    @apply absolute top-2 right-2 rounded-full p-2 bg-slate-300 cursor-pointer;
  }
  .product--detail-right{
    @apply w-8/12 px-2  flex flex-col justify-between;
  }
  /* End of NFT Product Detail */
}

@layer utilities {
  .nft--container {
    @apply container mx-auto;
  }

  .nft--section {
    @apply py-16 sm:py-24;
  }

  .not--found {
    @apply h-screen flex justify-center items-center flex-col;
  }

  .not--found h1 {
    @apply text-8xl;
  }

  .not--found button {
    @apply border px-10;
  }



  .tt {
    @apply w-4/12 capitalize ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  footer {
    @apply text-center shadow-inner py-4 flex items-center justify-center text-xs fixed bottom-0 w-full bg-white;
    margin-top: auto;
  }
}